# Dependencies
node_modules/

# Angular build output
dist/
.angular/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE files
.idea/
.vscode/

# Environment / secrets
.env

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log

# Optional: local cache
.cache/