<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/template">Doctors - Patients - Appointments</a>
    <div class="navbar-nav">
      <a class="nav-link" routerLink="/doctors" routerLinkActive="active">Doctor</a>
      <a class="nav-link" routerLink="/patients" routerLinkActive="active">Patient</a>
      <a class="nav-link" routerLink="/appointments" routerLinkActive="active">Appointment</a>
    </div>
  </div>
</nav>

<main class="py-4">
  <router-outlet></router-outlet>
</main>
